body{
    background-image: url('../public/worldmap.jpg');
    background-size:auto;
}

.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}
  
#welcomeTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
    display: inline-flex;
}

.titleSpace {
    font-size: 1.5em;
    width: 0.6em;
}

.titleLetter {
    font-size: 1.5em;
    width: 0.77em;
    text-align: center;
    transition: transform 0.25s ease;
}
  
.titleLetter.hovered {
transform: scale(1.5);
}

.titleLetter.next, .titleLetter.before{
    transform: scale(1.2);
}

/* from https://codepen.io/t_afif/pen/VwxbdpV */
button {
    --b: 3px;   
    --s: 0em; 
    --c: #000000;

    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
        var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .15s linear;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
}

button:hover, button:focus-visible{
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    margin: .5em;
    padding: 10px;
}

.dateSelector {
    display: flex;
    align-items: center;
    gap: 10px;
}

.selectMonth, .selectDay {
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    background-color: #fff;
}

.selectMonth:hover, .selectDay:hover {
    background-color: #ccc;
}

#goButton{
    width: 75px;
    height: 50px;
    font-size: 1.7rem;
}

#orSpan, #chooseDay{
    margin: 2px;
    font-size: 30px;
}

.dateSelector select option {
    background-color: #fff;
}

  
.napoleon-gif{
    position: absolute;
    margin-left: -920px;
    margin-bottom: -340px;
    width: 370px;
    border-radius: 200px;
}

#herodotus{
    position: absolute;
    margin-left: 920px;
    margin-bottom: -340px;
    width: 370px;
    border-radius: 200px;

}

.tab-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.dateTitle{
    font-size: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Monsieur La Doulaise', cursive;
    font-weight: bolder;
    color: #fff;
    text-shadow: 0px 0px white, -2px -2px #000000;
}

.tabs {
    order: 2;
    width: 650px;
    height: 700px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.678), 0 1px 3px rgba(0, 0, 0, 0.08);
    position: relative;
    overflow-y: auto;

}


.tabs::-webkit-scrollbar {
    width: 6px;
}

.tabs::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 3px;
}

.tabs .tab-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid rgba(0, 0, 0, 0.582);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    
}

.tabs .tab-header > div{
    position: relative;
    cursor: pointer;
    margin: 5px;
    height: 50px;
    width: 90px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    transition: all 0.3s ease;
    font-family: 'Garamond', serif;
    font-size: x-large;
    border-radius: 10px;
    color: #969696;
    /* box-shadow: rgba(119, 119, 119, 0.25) 0px 10px 15px -12px inset, rgba(0, 0, 0, 0.3) 0px 9px 18px -18px inset; */
}

.tabs .tab-header > div:hover{
    background-color: #e7e7e7;
    transition: all 0.3s ease;
}

.tabs .tab-header > div.active{
    color: #000000;
    transition: all 0.3s ease;
    font-size:45px;
    box-shadow: rgba(255, 255, 255, 0.527) 0px 5px 15px -12px inset, rgb(255, 255, 255) 0px 9px 18px -18px inset;
}

.tabs .tab-header > div.active:hover{
    background-color: #ffffff;
}

.tab-body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    font-size: x-large;
}

.right-pillar,
.left-pillar {
    position: absolute; 
    height: 105%;
    /* opacity: 0.7; */
}

.right-pillar {
    order: 3;
    margin-left: 355px;
    top: 0; 
}

.left-pillar {
    order: 1;
    top: 0; 
    left: calc(50% - 520px);
}

.loading-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
  
.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgb(255, 255, 255);
    border-left-color: #000000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
  
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}


@media screen and (max-width: 1185px) {
    .welcome-page {
    padding: 2rem;
    }
    
    #welcomeTitle {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    }
    
    .titleSpace {
    font-size: 1.2em;
    width: 0.5em;
    }
    
    .titleLetter {
    font-size: 1.2em;
    width: 0.6em;
    }
    
    button {
        font-size: 1.5rem;
        margin: 0.25em;
        padding: 8px;
    }
    
    .dateSelector {
        flex-direction: row;
        gap: 5px;
    }
    
    .selectMonth, .selectDay {
        font-size: 14px;
        padding: 4px 8px;
    }
    
    #goButton {
        width: 60px;
        height: 40px;
        font-size: 1.4rem;
    }
    
    #orSpan, #chooseDay {
        margin: 1px;
        font-size: 25px;
    }
} 

@media screen and (max-width: 480px ) {
    body{
        background-image: url('../public/worldmap.jpg');
        background-size:auto;
        position:fixed;
        height: 20px;
        width: 375px;
    }

    .welcome-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        font-family: Arial, sans-serif;
        width: auto;
        height: 750px;
        margin-top: 10px;
    }
      
    #welcomeTitle {
        font-size: 0.93rem;
        margin-bottom: 1rem;
        font-family: 'Times New Roman', Times, serif;
        display: inline-flex;
    }
    
    .titleSpace {
        font-size: 1.5em;
        width: 0.6em;
    }
    
    .titleLetter {
        font-size: 1.5em;
        width: 0.77em;
        text-align: center;
        transition: transform 0.25s ease;
    }
      
    .titleLetter.hovered {
    transform: scale(1.5);
    }
    
    .titleLetter.next, .titleLetter.before{
        transform: scale(1.2);
    }
    
    /* from https://codepen.io/t_afif/pen/VwxbdpV */
    button {
        --b: 3px;   
        --s: 0em; 
        --c: #000000;
    
        padding: calc(.05em + var(--s)) calc(.3em + var(--s));
        --_p: var(--s);
        background:
            conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
            var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
        transition: .15s linear;
        outline: var(--b) solid #0000;
        outline-offset: .2em;
    }
    
    button:hover, button:focus-visible{
        --_p: 0px;
        outline-color: var(--c);
        outline-offset: .05em;
    }
    
    button {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 1.5rem;
        cursor: pointer;
        border: none;
        margin: .5em;
        padding: 10px;
    }
    
    .dateSelector {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .selectMonth, .selectDay {
        appearance: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        background-color: #fff;
    }
    
    .selectMonth:hover, .selectDay:hover {
        background-color: #ccc;
    }
    
    #goButton{
        width: 50px;
        height: 40px;
        font-size: 1.3rem;
    }
    
    #orSpan, #chooseDay{
        margin: 2px;
        font-size: 20px;
    }
    
    .dateSelector select option {
        background-color: #fff;
    }
    
      
    .napoleon-gif{
        position: absolute;
        width: 350px;
        margin-left: -140px;
        margin-bottom: -600px;
        border-radius: 200px;
        overflow: hidden;
    }
    
    #herodotus{
        position: absolute;
        margin-left: 190px;
        margin-bottom: -450px;
        width: 0px;
        border-radius: 200px;
    
    }
    
    .tab-container{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 45px;
    }
    
    .dateTitle{
        font-size: 50px;
        font-family: 'Monsieur La Doulaise', cursive;
        font-weight: bolder;
        color: #fff;
        text-shadow: 0px 0px white, -2px -2px #000000;
        margin-bottom: auto;
        
    }
    
    .tabs {
        order: 2;
        width: 360px;
        height: 690px;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.678), 0 1px 3px rgba(0, 0, 0, 0.08);
        position: relative;
        overflow-y: auto;
    
    }
    
    
    .tabs::-webkit-scrollbar {
        width: 6px;
    }
    
    .tabs::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.459);
        border-radius: 3px;
    }
    
    .tabs .tab-header {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 2px solid rgba(0, 0, 0, 0.582);
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
        
    }
    
    .tabs .tab-header > div{
        position: relative;
        cursor: pointer;
        margin: 5px;
        height: 50px;
        width: 90px;
        display: flex;
        align-items: center; 
        justify-content: center; 
        transition: all 0.3s ease;
        font-family: 'Garamond', serif;
        font-size: x-large;
        border-radius: 10px;
        color: #969696;
        /* box-shadow: rgba(119, 119, 119, 0.25) 0px 10px 15px -12px inset, rgba(0, 0, 0, 0.3) 0px 9px 18px -18px inset; */
    }
    
    .tabs .tab-header > div:hover{
        background-color: #e7e7e7;
        transition: all 0.3s ease;
    }
    
    .tabs .tab-header > div.active{
        color: #000000;
        transition: all 0.3s ease;
        font-size:45px;
        box-shadow: rgba(255, 255, 255, 0.527) 0px 5px 15px -12px inset, rgb(255, 255, 255) 0px 9px 18px -18px inset;
    }
    
    .tabs .tab-header > div.active:hover{
        background-color: #ffffff;
    }
    
    .tab-body{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        margin: 20px;
        font-size: x-large;
    }
    
    .right-pillar,
    .left-pillar {
        position: absolute; 
        height: 105%;
        /* opacity: 0.7; */
    }
    
    .right-pillar {
        order: 3;
        margin-left: 355px;
        top: 0; 
    }
    
    .left-pillar {
        order: 1;
        top: 0; 
        left: calc(50% - 520px);
    }
    
    .loading-screen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
      
    .loading-spinner {
        width: 50px;
        height: 50px;
        border: 5px solid rgb(255, 255, 255);
        border-left-color: #000000;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
      
      
    @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
    }

}

