.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}
  
#welcomeTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
    display: inline-flex;
}

.titleSpace {
    font-size: 1.5em;
    width: 0.6em;
}

.titleLetter {
    font-size: 1.5em;
    width: 0.77em;
    text-align: center;
    transition: transform 0.25s ease;
}
  
.titleLetter.hovered {
transform: scale(1.5);
}

.titleLetter.next, .titleLetter.before{
    transform: scale(1.2);
}

/* from https://codepen.io/t_afif/pen/VwxbdpV */
button {
    --b: 3px;   /* border thickness */
    --s: 0em; /* size of the corner */
    --c: #000000;

    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
        var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .15s linear;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
}

button:hover, button:focus-visible{
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    margin: .5em;
    padding: 10px;
}

.dateSelector {
    display: flex;
    align-items: center;
    gap: 10px;
}

.selectMonth, .selectDay {
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    background-color: #fff;
}

.selectMonth:hover, .selectDay:hover {
    background-color: #ccc;
}

#goButton{
    width: 75px;
    height: 50px;
    font-size: 1.7rem;
}

#orSpan, #chooseDay{
    margin: 2px;
    font-size: 30px;
}

.dateSelector select option {
    background-color: #fff;
}

  
.napoleon-gif{
    position: absolute;
    margin-left: -920px;
    margin-bottom: -340px;
    width: 370px;
    border-radius: 200px;
}

#herodotus{
    position: absolute;
    margin-left: 920px;
    margin-bottom: -340px;
    width: 500px;
    border-radius: 200px;

}


/* .eye {
    position: relative;
    width: 100px;
    height: 50px;
    background-color: rgb(255, 141, 141);
    /* border-radius: 50%; 
    margin-left: 600px;
} */

/* .eyeBall {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    top: 35%;
    left: 43%;
} */

.tab-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.tabs {
    order: 2;
    width: 600px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    padding: 20px 30px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    overflow-y: auto;
}


.tabs::-webkit-scrollbar {
    width: 6px;
}

.tabs::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

/* .tabs::-webkit-scrollbar-track {
    background-color: transparent;
} */

.tabs .tab-header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(71, 71, 71, 0.582);
}

.tabs .tab-header > div{
    position: relative;
    cursor: pointer;
    margin: 5px;
    height: 50px;
    width: 90px;
    display: flex; /* Add this */
    align-items: center; /* Add this */
    justify-content: center; /* Add this */
    transition: all 0.3s ease;
    font-family: 'Monsieur La Doulaise', cursive;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 0px 20px;
    box-shadow: rgba(119, 119, 119, 0.25) 0px 5px 15px -12px inset, rgba(0, 0, 0, 0.3) 0px 9px 18px -18px inset;
}

.tabs .tab-header > div:hover{
    background-color: #e7e7e7;
    transition: all 0.3s ease;
}

.tabs .tab-header > div.active{
    color: #000000;
    transition: all 0.3s ease;
    font-size:45px;
    box-shadow: rgb(255, 255, 255) 0px 5px 15px -12px inset, rgb(255, 255, 255) 0px 9px 18px -18px inset;
}

.tabs .tab-header > div.active:hover{
    background-color: #ffffff;
}

.tab-body{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    font-size: larger;
}

.right-pillar,
.left-pillar {
    position: absolute; /* Change from 'relative' to 'absolute' */
    height: 100%;
    opacity: 0.7;
}

.right-pillar {
    order: 3;
    margin-left: 40px;
    top: 0; /* Add this to position the right pillar at the top */
    left: calc(50% + 300px); /* Add this to position the right pillar to the right of the tabs */
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.left-pillar {
    order: 1;
    top: 0; /* Add this to position the left pillar at the top */
    left: calc(50% - 475px); /* Add this to position the left pillar to the left of the tabs */
}


@media screen and (max-width: 1185px) {
    .welcome-page {
    padding: 2rem;
    }
    
    #welcomeTitle {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    }
    
    .titleSpace {
    font-size: 1.2em;
    width: 0.5em;
    }
    
    .titleLetter {
    font-size: 1.2em;
    width: 0.6em;
    }
    
    /* p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    } */
    
    button {
        font-size: 1.5rem;
        margin: 0.25em;
        padding: 8px;
    }
    
    .dateSelector {
        flex-direction: row;
        gap: 5px;
    }
    
    .selectMonth, .selectDay {
        font-size: 14px;
        padding: 4px 8px;
    }
    
    #goButton {
        width: 60px;
        height: 40px;
        font-size: 1.4rem;
    }
    
    #orSpan, #chooseDay {
        margin: 1px;
        font-size: 25px;
    }
} 

@media screen and (max-width: 480px) {
    .welcome-page {
        padding: 1rem;
    }
    
    #welcomeTitle {
        font-size: 1.5rem;
        margin-bottom: 0.25rem;
    }
    
    .titleSpace {
        font-size: 1em;
        width: 0.4em;
    }
    
    .titleLetter {
        font-size: 1em;
        width: 0.5em;
    }
    
    /* p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    } */
    
    button {
        font-size: 1.2rem;
        margin: 0.2em;
        padding: 6px;
    }
    
    .dateSelector {
        flex-direction: row;
        gap: 5px;
    }
    
    .selectMonth, .selectDay {
        font-size: 12px;
        padding: 3px 6px;
    }
    
    #goButton {
        width: 50px;
        height: 35px;
        font-size: 1.2rem;
    }
    
    #chooseDay {
        font-size: 3px;
    }
    
    #orSpan, #chooseDay {
        margin: 1px;
        font-size: 16px;
    }

}



@media screen and (min-width: 481px) and (max-width: 634px) {
    .welcome-page {
    padding: 1.5rem;
    }
    
    #welcomeTitle {
        font-size: 1.75rem;
        margin-bottom: 0.375rem;
    }
    
    .titleSpace {
        font-size: 1.1em;
        width: 0.45em;
    }
    
    .titleLetter {
        font-size: 1.1em;
        width: 0.55em;
    }
    
    /* p {
        font-size: 1.1rem;
        margin-bottom: 0.75rem;
    } */
    
    button {
        font-size: 1.35rem;
        margin: 0.225em;
        padding: 7px;
    }
    
    .dateSelector {
        flex-direction: row;
        gap: 5px;
    }
    
    .selectMonth, .selectDay {
        font-size: 13px;
        padding: 3.5px 7px;
    }
    
    #goButton {
        width: 55px;
        height: 37.5px;
        font-size: 1.3rem;
    }
    
    #orSpan, #chooseDay {
        margin: 1px;
    }

    #chooseDay {
       font-size: 20px;
    }
}